.flex-container {
    max-width: 270px;
}

.first-row {
    display: flex;
    background-color: rgb(150, 194, 213);
    color: white;
    padding: 7px;
    font-weight: bold;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    block-size: 25%;

}

.top-row {
    display: flex;
    background-color: rgb(209, 233, 225);
    padding: 7px;
    color: white;
    font-weight: bold;
    justify-content: space-between;
}

.second-row {
    display: flex;
    background-color: rgb(144, 137, 220);
    color: white;
    padding: 7px;
    font-weight: bold;
    justify-content: space-between;
}

.third-row {
    display: flex;
    background-color: rgb(208, 188, 211);
    padding: 7px;
    color: white;
    font-weight: bold;
    justify-content: space-between;
}

.fourth-row {
    display: flex;
    background-color: rgb(222, 171, 177);
    padding: 7px;
    color: white;
    font-weight: bold;
    justify-content: space-between;
}

.fifth-row {
    display: flex;
    background-color: rgb(153, 92, 155);
    padding: 7px;
    color: white;
    font-weight: bold;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.number {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: url(outer-space.jpeg);
    background-size: cover;
    color: rgb(255, 255, 255);
    font-weight: bold;
    opacity: .80;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    width: 60px;
    justify-content: center;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px white; 
    transition: .5s ease;
}

.number:hover {
    color: rgb(149, 255, 83);
}

.highlight {
    color: aqua;
}

#display {
    width: 170px;
    border: 3px solid rgb(255, 255, 255);
    font-size: 24px;
    display: flex;
    justify-content: center;
    max-width: 170px;
    flex-flow: wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    background-color:rgb(61, 88, 130);
    background-size: contain;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px white
}
/* p {
    padding: 2px;
    display: flex;
    max-width: 170px;

} */
